/*工具类样式*/

.t-disable {
    background-color: #F3F3F3 !important;
}

/* 浮动 */

.t-left {
    float: left;
}

.t-right {
    float: right;
}

.t-clearfix {
    zoom: 1;
    &:after {
        display: block;
        clear: both;
        content: ''
    }
}

.t-hidden {
    display: none !important;
}

.t-relative {
    position: relative;
}

/* 字体 */
.t-bold {
    font-weight: bold;
}

.t-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.t-txtBlack {
    color: #333;
}

.t-txtGray {
    color: #666;
}

.t-txtLightgray {
    color: #999;
}

.t-txtOrange {
    color: #fd5615;
}

.t-txtThrough {
    text-decoration: line-through;
}

.t-bgOrange {
    background: #fd5615;
}

.t-bgGray {
    background: #999;
}

.t-txtLeft {
    text-align: left;
}

.t-txtCenter {
    text-align: center;
}

.t-txtRight {
    text-align: right;
}

//input等 宽度
.t-inputWidth {
    width: 170px;
    display: inline-block;
    margin-right: 20px;
}
.t-marginR{
    margin-right: 15px;
}

// css3缓冲运动
.t-run {
    transition: all .5s ease-in-out;
}
